*{
    margin: 0;
    padding: 0;
    
}
.top{
    padding: 10px;
    background-color:#08101E;
}
.header{
    padding-top: 39px;
    padding-bottom: 39px;
}
.topLink{
color: var(--ffffff, #FFF);
font-family: Open Sans;
text-decoration: none;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.topinformation{
margin-top: 160px;
margin-bottom: 196px;


}


.subtitle{
    color: var(--3-a-68-b-8, #3A68B8);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 28.8px */
text-transform: uppercase;
}

.tityle{
margin-top: 10px;
margin-bottom: 40px;
color: var(--ffffff, #FFF);
font-family: Open Sans;
font-size: 55px;
font-style: normal;
font-weight: 800;
line-height: 130%; 
}


.text{
color: var(--ffffff, #FFF);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 160%;
}
.topbutton{
    margin-top: 50px;
  display: flex;
}

.button{
        display: inline-flex;
padding: 15px 30px;
align-items: flex-start;
gap: 10px;
border-radius: 5px;
background: var(--3-a-68-b-8, #3A68B8);
text-align: center;
color: var(--ffffff, #FFF);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 30px;
}