* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #08101E;
    font-family: 'Open Sans', sans-serif;
}

.top {
    padding: 10px;

    padding-bottom: 99px;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.topLink {
    color: var(--ffffff, #FFF);

    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.topBlock {
    margin-top: 160px;
    margin-bottom: 196px;
    display: flex;
    gap: 128px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.topinformation {
    width: 604px;
}

.subtitle {
    color: var(--3-a-68-b-8, #3A68B8);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    text-transform: uppercase;
}


.title {
    margin-top: 10px;
    margin-bottom: 40px;
    color: var(--ffffff, #FFF);
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}


.text {
    color: var(--ffffff, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    width: 558px;
}

.topbutton {
    margin-top: 50px;
    display: flex;
}

.button {
    display: inline-flex;
    padding: 15px 30px;
    gap: 10px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    text-align: center;
    color: var(--ffffff, #FFF);

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 30px;
    align-items: center;
}

.topLogo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 71px;

}

.content {
    display: grid;
    grid-template-columns: repeat(3, 362px);
    /* grid-template-rows: repeat(3, 1fr);      */
    gap: 30px;
    justify-content: center;
    /* grid-template-areas: "a b c"
                           "d d e" 
                           "d d f"; */
    padding-top: 264px;
    padding-bottom: 243px;

}

.item {
    border-radius: 10px;
    background: #132035;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* .content:nth-child(1) {
    grid-area: a;
}

.content:nth-child(2) {
    grid-area: b;
}

.content :nth-child(3) {
    grid-area: c;
}

.content :nth-child(4) {
    grid-area: d;

}

.content :nth-child(5) {
    grid-area: e;

}

.content :nth-child(6) {
    grid-area: f;
} */

.heading {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    font-family: Open Sans;

}

.itemText {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;

}

.itemBig {

    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}


@media (max-width:1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    .topLogo {
        max-width: 650px;
        margin: auto;
        gap: 32px;
        }
     .top{
        padding-bottom: 120px;
     }

     .content {
        display: grid;
        grid-template-columns: repeat(1, 362px);
        gap: 32px;
        justify-content: center;
        padding-top: 264px;
        padding-bottom: 243px;
    
    }
    .itemBig {
        grid-column: span 1;
        grid-row: span 1;
        gap: 32px;
        
    }
    .itemBig  img{
        width: 98px;
        
    }
    
}